<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--styles-->
    <link rel="stylesheet" href="goof.css">
    <title>Document</title>
</head>
<body>
    <form action="/update-email" method="post">
        <label for="email">Former Email:</label>
        <input type="email" id="email" name="email" placeholder="Email" required>

        <label for="newEmail">New Email:</label>
        <input type="email" id="newEmail" name="newEmail" placeholder="New Email" required>

        <input type="submit" value="Change">
    </form>
    <a href="/">Home</a>
</body>
</html>